body{
    background-color: #ccc;
}
.container{
    background-color: #fff;
}
*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    border: 5px solid green;
    padding: 10px;
}
.main ul li{
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: all 1s;
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}

.main ul li:hover{
    box-shadow: 0 0 20px green;
}
.main ul li img{
    width: 100%;
}
.price{
    margin-top: 10px;
    color: #f00;
    font-size: 30px;
}
.title{
    color: #000000;
    height: 40px;
    overflow: hidden;
}

/* 分页css */
.m-style{
    text-align: center;
}

.m-style span {
    /* float: left; */
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #bdbdbd;
    font-size: 14px
  }

  .m-style .active {
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #e91e63;
    color: #fff;
    font-size: 14px;
    border: 1px solid #e91e63
  }
  .m-style a {
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #333;
    font-size: 14px
  }
   
  .m-style a:hover {
    color: #fff;
    background: #e91e63
  }
   
  .m-style .next,.m-style .prev {
    font-size: 16px;
    font-weight: 700
  }
   
  .now,.count {
    padding: 0 5px;
    color: red
  }
   
  .eg img {
    max-width: 800px;
    min-height: 500px
  }
   
  input {
    margin: 0 5px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px
  }
  
